{
	{$PROXY_HEAD}
}

http://leasing.dev.{$PROXY_DOMAIN} {
	handle_path /api/* {
	    uri strip_prefix /api
		reverse_proxy backend
	}
	handle {
		root * /web/client
		try_files {path} index.html
		file_server
	}
}

http://admin.leasing.dev.{$PROXY_DOMAIN} {
	handle_path /api/* {
	    uri strip_prefix /api
		reverse_proxy backend
	}
	handle {
		root * /web/admin
		try_files {path} index.html
		file_server
	}
}
